<nav class="navbar navbar-expand-md navbar-light navback d-flex justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/images/SMBXL_Logo/SMBXL_Logo@2x.png" alt=""
                class="img-fluid imgsize ms-4"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EXPLORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://smbxl.com/team.cfm" target="_blank">OUR TEAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://smbxl.com/career.cfm" target="_blank">CAREER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://smbxl.com/contact.cfm" target="_blank">CONTACT</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>

                        
                    </ul>
                </li> -->
                <li class="nav-item">
                    <div class="d-flex">
                        <img src="assets/images/Group 53.svg" class="img-fluid pe-2" alt="...">
                        <a class="nav-link ">+91 40 4662 3456</a>
                    </div>

                </li>
                <li class="nav-item" *ngIf="!auth.isLoggedIn()">
                    <div class="d-flex">                       
                        <button class="nav-link login_button" (click)="auth.login()">Login</button>
                    </div>

                </li>
                <!-- <li class="nav-item" *ngIf="auth.isLoggedIn()" >
                    <div class="d-flex">                       
                        <span class="nav-link login_button" (click)="auth.logout()">Vinodh N</span>
                    </div>

                </li> -->
                <li class="nav-item" *ngIf="auth.isLoggedIn()" >
                    <div class="dropdown">
                     
                        <a  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../assets/images/Person-Icon.jpg"
                            width="40" height="40" alt="user icon" class="profile_pic">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><span class="user-email">mahesh smbxl</span></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><button class="dropdown-item" routerLink="user/profile"> <i class="fa-regular fa-user icon_style"></i>Profile</button></li>
                          
                          <!-- <li><button class="dropdown-item" href="#"> <i class="fa-solid fa-right-from-bracket"></i>Logout</button></li> -->
                          <li><button class="dropdown-item" (click)="auth.logout()" > <i class="fa-solid fa-right-from-bracket icon_style"></i>Logout</button></li>
                        </ul>
                      </div>
                      <!-- <div class="dropdown">
                        <a href="#" id="imageDropdown" data-toggle="dropdown">
                            <img src="../../assets/images/Person-Icon.jpg"
                            width="40" height="40" alt="user icon" class="profile_pic">
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="imageDropdown">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 1</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 2</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 3</a></li>
                          <li role="presentation" class="divider"></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 4</a></li>
                        </ul>
                      </div> -->

                </li>
               
                

            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>