.timesheet {
  background-color: #fafafa;
  height: auto;
  padding-bottom: 200px;
  border-radius: 10px;
}

.timecard {
  background-color: #81c784;
  width: 170px;
  height: 65px;
  margin: 30px;
  border-radius: 3px;
}
.select_date {
  width: 183px;
  margin: 40px 13px 0px -36px;
  height: 35px;
}

.empdetails {
  width: 500px;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 10px 50px 10px 50px;
  font-size: small;
}

.total_hours {
  color: white;
  opacity: 1;
  font-family: sans-serif;
  font-weight: bold;
}

label {
  font-weight: bold;
}

input::placeholder {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

  /* height: 30px; */
  font-family: monospace;
  font-size: large;
}

.emp_input {
  height: 35px;
  font-size: larger;
  font-family: sans-serif;
}

.table_style {
  margin: 6px 50px 20px 50px;
}

.box_style {
  display: flex;
  /* JUSTIFY-CONTENT: space-around; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  flex-direction: row-reverse;
  padding: 0 40px;
}

#datapicker {
  background-color: #81c784;
  border: none;
  font-size: small;
  color: white;
}

.timecard p {
  font-size: small;
  margin: 0 auto !important;
}

.add_style {
  background-color: #339fff;
  font-family: sans-serif;
  font-size: small;
  font-weight: 600;
}

.delete_btn {
  background-color: #fa5d42;
  font-family: sans-serif;
  font-size: small;
  font-weight: 600;
}

.submit_btn {
  font-family: sans-serif;
  font-size: small;
  font-weight: 600;
}

/* .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (min-width: 1200px) and (max-width: 1400px) {
  .timecard {
    background-color: #81c784;
    width: 140px;
    height: 65px;
    margin: 25px;
    border-radius: 3px;
  }
}

.dropdown {
  font-size: small;
  background-color: #f2f3f7;
  height: 30px;
  /* width: 170px; */
}

.dropdown p {
  margin: 0 auto !important;
}

.days p {
  margin: 0 auto !important;
  font-weight: bold;
}

.days {
  font-size: small;
  background-color: #a9c3e5;
  height: 30px;
}

.nopadding {
  padding: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .timecard {
    background-color: #81c784;
    width: 110px;
    height: 65px;
    margin: 25px;
    border-radius: 3px;
  }

  .timecard p {
    font-size: x-small;
  }
}

@media (max-width: 1200px) {
  .timecard {
    background-color: #81c784;
    width: 110px;
    height: 65px;
    margin: 25px;
    border-radius: 3px;
  }

  .timecard p {
    font-size: x-small;
  }
}
