<p>timesheet works!</p>
<div class="container-md mt-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="timesheet">
          <!-- dropdown -->
          <form [formGroup]="taskData" (ngSubmit)="saveTask()">
            <div class="row">
              <div class="col">
                <div class="form-wrapper">
                  <div class="box_style">
                    <div
                      class="col-md-4 timecard"
                      style="background-color: #08d3d3"
                    >
                      <p class="text-center pt-2 total_hours">
                        Total Hours Worked
                      </p>
                      <h6 class="text-center" style="color: white">{{ x }}Hrs</h6>
                      <!-- <input type="text" formControlName="totalHours"> -->
                    </div>
                    <div *ngIf="submitAlert" class="col-md-7 me-auto mt-3">
                      <div
                        class="alert alert-success alert-dismissible fade show"
                        role="alert"
                      >
                        <strong
                          >Your task has been submitted successfully.</strong
                        >
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"
                        ></button>
                      </div>
                    </div>
                    <div class="col-md-4 timecard me-auto">
                      <p class="text-center pt-2 total_hours">
                        Date
  
                        <input
                          type="date"
                          class="form-control"
                          id="datapicker"
                          name="date"
                          name="startDate"
                          formControlName="date"
                          style="padding-left: 35px"
                          required
                        />
                      </p>
                    </div>
                  </div>
                  <div class="empdetails">
                    <div class="mb-2">
                      <label class="form-label">Employee ID :</label>
                      <input
                        type="number"
                        class="form-control emp_input"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        formControlName="empId"
                        required
                      />
                    </div>
                    <div class="mb-2">
                      <label class="form-label">Employee Name :</label>
                      <input
                        type="text"
                        class="form-control emp_input"
                        id="exampleInputPassword1"
                        formControlName="empName"
                        required
                      />
                    </div>
                    <!-- <div class="mb-2">
                    <label class="form-label">Date</label>
                    <input
                      type="date"
                      class="form-control"
                      id="exampleInputPassword1"
                      style="height: 30px"
                    />
                  </div>
                  <div class="mb-2">
                    <label class="form-label">Total Hours</label>
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputPassword1"
                      style="height: 30px"
                    />
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="me-5 ms-5 mt-5">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3 nopadding me-1">
                      <div
                        class="dropdown days rounded d-flex align-items-center"
                      >
                        <p style="color: #7b7b7b">Project Name</p>
                      </div>
                    </div>
                    <div class="col-md-3 nopadding me-1">
                      <div
                        class="dropdown days rounded d-flex align-items-center"
                      >
                        <p style="color: #7b7b7b">Activity</p>
                      </div>
                    </div>
                    <div class="col-md-4 nopadding me-1">
                      <div
                        class="dropdown days d-flex align-items-center rounded"
                      >
                        <p style="color: #7b7b7b">Task</p>
                      </div>
                    </div>
                    <!-- <div class="col-md-1 nopadding me-1" style="width: 100px">
                      <div class="days d-flex align-items-center rounded">
                        <p style="color: #7b7b7b">Start Time</p>
                      </div>
                    </div>
                    <div class="col-md-1 nopadding me-1" style="width: 100px">
                      <div class="days d-flex align-items-center rounded">
                        <p style="color: #7b7b7b">End Time</p>
                      </div>
                    </div> -->
                    <div class="col-md-1 nopadding me-1">
                      <div class="days d-flex align-items-center rounded">
                        <p style="color: #7b7b7b">Hours</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- inputfields data -->
  
            <div class="me-5 ms-5 mt-2" formArrayName="itemRows">
              <div
                class="row mt-2"
                *ngFor="let data of itemRows.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3 nopadding me-1">
                      <!-- <div class=" dropdown"> -->
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        name="activity"
                        formControlName="projectName"
                        required
                        [disabled]="false"
                      >
                        <option value="Persona Nutrition">
                          Persona Nutrition
                        </option>
                        <option value="Puritains">Puritains</option>
                        <option value="Nestle Health Sciences">
                          Nestle Health Sciences
                        </option>
                        <option value="Market Central">Market Central</option>
                        <option value="Family Central">Family Central</option>
                        <option value="Internal POC">Internal POC</option>
                        <option value="External POC">External POC</option>
                        <option value="Marketing & Sales">
                          Marketing & Sales
                        </option>
                      </select>
                    </div>
                    <div class="col-md-3 nopadding me-1">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        name="activity"
                        formControlName="activity"
                        required
                      >
                        <option value="Unit Testing">Unit Testing</option>
                        <option value="Acceptance Testing">
                          Acceptance Testing
                        </option>
                        <option value="Warrant/MC">Warrant/MC</option>
                        <option value="System Testing">System Testing</option>
                        <option value="Coding\Implementation">
                          Coding\Implementation
                        </option>
                        <option value="Design">Design</option>
                        <option value="Support">Support</option>
                        <option value="Integration Testing">
                          Integration Testing
                        </option>
                        <option value="Requirements Development">
                          Requirements Development
                        </option>
                        <option value="Planning">Planning</option>
                        <option value="PTO">PTO</option>
                      </select>
                    </div>
                    <div class="col-md-4 nopadding me-1">
                      <input
                        type="textarea"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="task"
                        formControlName="task"
                        required
                      />
                      <!-- <input type="text"> -->
                      <!-- <textarea class="form-control"></textarea> -->
                    </div>
                    <!-- <div class="col-md-1 nopadding me-1" style="width: 100px">
                      <input type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="mon" formControlName="startTime"  />
                    
                    </div>
                    <div class="col-md-1 nopadding me-1" style="width: 100px">
                      <input type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="tue" formControlName="endTime" />
                    
                    </div> -->
                    <div class="col-md-1 nopadding me-1">
                      <input
                        type="number"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="wed"
                        formControlName="hours"
                        required
                        (keyup)="inputValues(i)"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-1 d-flex">
                  <button
                    class="btn btn-primary add_style"
                    (click)="addForm(); disabledInput(i)"
                    (click)="isDisabled = true"
                    type="button"
                    [disabled]="taskData.invalid"
                  >
                    ADD
                  </button>
  
                  <button
                    class="btn btn-danger ms-2 delete_btn"
                    (click)="removeForm(i)"
                  >
                    DELETE
                  </button>
                </div>
              </div>
              <div style="text-align: center; margin-top: 50px">
                <button
                  class="btn btn-primary submit_btn"
                  type="submit"
                  (blur)="removeSubmitAlert(); getDate()"
                >
                  SUBMIT
                </button>
              </div>
            </div>
          </form>
  
          <!-- <hr /> -->
          <div class="ms-5">
            <table>
              <thead>
                <tr>
                  <th scope="col">DATE</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let currentdate of date">
                  <td>
                    <input
                      ngModel="{{ currentdate | date: 'dd-MM-YYYY' }}"
                      disabled="true"
                      #SelectedDate1
                      
                    />
                  </td>
                  <td>
                    <button class="btn btn-primary" (click)="getTasks(currentdate)">view</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <hr />
          <!-- <div class="d-flex">
            <label style="margin: 45px 45px 45px 60px">View Task :</label>
            <input
              type="date"
              class="form-control select_date"
              id="exampleInputPassword1"
              #SelectedDate
            />
            <button
              class="btn btn-primary submit_btn"
              type="view"
              (click)="getTasts(SelectedDate)"
              style="margin: 40px 40px 40px 0px"
            >
              View
            </button>
          </div> -->
  
          <div class="table_style">
            <table class="table" [hidden]="taskView">
              <thead>
                <tr>
                  <!-- <th scope="col">EmployeeID</th>
                  <th scope="col">EmployeeName</th> -->
                  <th scope="col">ProjectName</th>
                  <th scope="col">Activity</th>
                  <th scope="col">Task</th>
                  <th scope="col">Date</th>
                  <th scope="col">Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of project">
                  <!-- <th>{{ value.employeeID }}</th>
                  <td>{{ value.employeeName }}</td> -->
                  <td>{{ value.projectName }}</td>
                  <td>{{ value.activity }}</td>
                  <td>{{ value.task }}</td>
                  <td>{{ value.date }}</td>
                  <td>{{ value.workHours }}</td>
                </tr>
                <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  