
<div >
    <div class="container-fluid py-5">
      
  
      <div class="row align-items-center d-flex justify-content-center">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{profile?.displayName}}</h5>
              <p class="text-muted mb-1">{{profile?.jobTitle}}</p>
             
            </div>
          </div>
        
        </div>
        <div class="col-lg-5">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile?.displayName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile?.mail | lowercase}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">+91 {{profile?.mobilePhone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">OfficeLocation</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile?.officeLocation}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">JobTitle</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{profile?.jobTitle}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>